/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-display: bold;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding: 0 1%;
  height: auto;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
}
@media (max-width: 500px) {
  .navigation {
    position: absolute;
    width: 100%;
  }
}
.navigation nav {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 10%;
  position: fixed;
}
@media (max-width: 500px) {
  .navigation nav {
    padding: 20px 10px;
    font-size: 1rem;
    flex-direction: row;
    text-align: center;
    width: 100%;
    position: absolute;
  }
}
.navigation nav a {
  text-decoration: none;
  color: #55667a;
  font-size: 2rem;
}
.navigation nav a:hover {
  color: #00b7d9;
}
.navigation nav h1 {
  color: #00b7d9;
}
@media (max-width: 500px) {
  .navigation nav h1 {
    display: none;
  }
}
.navigation nav a.login {
  background-color: #1e9df7;
  color: white;
  border-radius: 30px;
  width: 100px;
  text-align: center;
}
.wrapper5 {
  background: white;
  width: 100%;
}
@media (max-width: 500px) {
}
.wrapper5 .team-page {
  width: 100%;
}
.wrapper5 .team-page .team-page-container {
  display: flex;
  flex-direction: column;
  /* margin: 100px 0; */
  padding: 50px 0;
}
@media (max-width: 500px) {
  .wrapper5 .team-page .team-page-container {
    width: 100%;
  }
}
.wrapper5 .team-page .team-page-container .team-left {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}
.wrapper5 .team-page .team-page-container .team-left .top-left-text h2 {
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  font-size: 4rem;
  color: #55667a;
}
.wrapper5 .team-page .team-page-container .team-img {
  display: flex;
}
@media (max-width: 500px) {
  .wrapper5 .team-page .team-page-container .team-img {
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
  }
}
.wrapper5 .team-page .team-page-container .team-img .team-member {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -1rem 0 3rem #000;
  margin: 25px;
}
@media (max-width: 500px) {
  .wrapper5 .team-page .team-page-container .team-img .team-member {
    width: 90%;
    text-align: center;
  }
}
.wrapper5 .team-page .team-page-container .team-img .team-member h6 {
  font-size: 2rem;
}
.wrapper5 .team-page .team-page-container .team-img .team-member p {
  font-size: 1.5rem;
}
.wrapper5 .team-page .team-page-container .team-img .team-member img {
  height: 100px;
  border-radius: 250px;
  border: 3px solid #00b7d9;
}
.wrapper5 .team-page .team-page-container .team-img .team-member .team-member-info {
  height: 200px;
  margin: 10px auto;
}
.wrapper5 .team-page .team-page-container .team-img .team-member .team-member-info .team-member-socials a {
  color: black;
  padding: 0 5px;
}
.wrapper5 .team-page .team-page-container .team-img .team-member .team-member-info .team-member-socials a:hover {
  color: #00b7d9;
}
footer {
  font-weight: 700;
  text-align: center;
}
