.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-display: bold;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding: 0 1%;
  height: auto;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
}
@media (max-width: 500px) {
  .navigation {
    position: absolute;
    width: 100%;
  }
}
.navigation nav {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 10%;
  position: fixed;
}
@media (max-width: 500px) {
  .navigation nav {
    padding: 20px 10px;
    font-size: 1rem;
    flex-direction: row;
    text-align: center;
    width: 100%;
    position: absolute;
  }
}
.navigation nav a {
  text-decoration: none;
  color: #55667a;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .navigation nav a {
    text-decoration: none;
    color: #55667a;
    padding: 10px 3px;
  }
}
.navigation nav a:hover {
  color: #00b7d9;
}
.navigation nav h1 {
  color: #00b7d9;
}
@media (max-width: 500px) {
  .navigation nav h1 {
    display: none;
  }
}
.navigation nav a.login {
  background-color: #1e9df7;
  color: white;
  border-radius: 30px;
  width: 100px;
  text-align: center;
}
footer {
  font-weight: 700;
  text-align: center;
}
.wrapper {
  background: -webkit-gradient(linear, left top, right bottom, from(#00b7d9), to(#43d0da));
  width: 100%;
  height: 600px;
}
@media (max-width: 500px) {
  .wrapper {
    height: 800px;
  }
}
.wrapper .homepage-header {
  margin: 7% 0;
  width: 100%;
}
.wrapper .homepage-header .top-content-container {
  display: flex;
  /* margin: 100px 0; */
  padding: 50px 0;
}
@media (max-width: 500px) {
  .wrapper .homepage-header .top-content-container {
    display: flex;
    flex-flow: column-reverse;
  }
}
.wrapper .homepage-header .top-content-container .top-left {
  width: 100%;
  height: 600px;
  margin: 10px 0;
}
.wrapper .homepage-header .top-content-container .top-left .top-left-text {
  width: 70%;
}
@media (max-width: 500px) {
  .wrapper .homepage-header .top-content-container .top-left .top-left-text {
    width: 100% ;
    padding: 10px 20px;
  }
}
.wrapper .homepage-header .top-content-container .top-left .top-left-text h2 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 500px) {
  .wrapper .homepage-header .top-content-container .top-left .top-left-text h2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .wrapper .homepage-header .top-content-container .top-left .getapp {
    text-align: center;
  }
  .wrapper .homepage-header .top-content-container .top-left .getapp img {
    width: 50%;
  }
}
.wrapper .homepage-header .top-content-container .top-left .getapp img {
  margin: 10px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .wrapper .homepage-header .top-content-container .phone-img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .wrapper .homepage-header .top-content-container .phone-img img {
    height: 500px;
  }
}
.wrapper3 {
  width: 100%;
  height: 400px;
}
@media (max-width: 500px) {
  .wrapper3 {
    height: 600px;
  }
}
.wrapper3 .mid-content {
  margin: 0;
  width: 100%;
}
.wrapper3 .mid-content .mid-content-container {
  display: flex;
  /* margin: 100px 0; */
  padding: 50px 0;
}
@media (max-width: 500px) {
  .wrapper3 .mid-content .mid-content-container {
    flex-direction: column;
    display: flex;
    height: 100px;
  }
}
.wrapper3 .mid-content .mid-content-container .top-left {
  width: 100%;
  height: 500px;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .wrapper3 .mid-content .mid-content-container .top-left {
    width: 70%;
    height: 200px;
    /* display: flex; */
    padding: 10px 20px;
    margin: 0 auto;
  }
}
.wrapper3 .mid-content .mid-content-container .top-left .top-left-text {
  margin: 0 20px;
}
.wrapper3 .mid-content .mid-content-container .top-left .top-left-text .phone-img {
  margin: 0 20px;
}
@media (max-width: 500px) {
  .wrapper3 .mid-content .mid-content-container .top-left .top-left-text .phone-img {
    width: 80%;
    height: 200px;
    /* display: flex; */
    padding: 10px 20px;
    margin: 0 auto;
  }
}
.wrapper3 .mid-content .mid-content-container .top-left .top-left-text .phone-img img {
  height: 600px;
}
.wrapper3 .mid-content .mid-content-container .top-right {
  width: 100%;
  height: 600px;
  margin: 10px 0;
}
.wrapper3 .mid-content .mid-content-container .top-right .top-right-text {
  margin: 0 20px;
  width: 70%;
}
@media (max-width: 500px) {
  .wrapper3 .mid-content .mid-content-container .top-right .top-right-text {
    width: 100% ;
    padding: 10px 20px;
  }
}
.wrapper3 .mid-content .mid-content-container .top-right .top-right-text h2 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 4rem;
}
.wrapper4 {
  background: -webkit-gradient(linear, left top, right bottom, from(#00b7d9), to(#43d0da));
  width: 100%;
  height: 600px;
}
@media (max-width: 500px) {
  .wrapper4 {
    height: 600px;
  }
}
.wrapper4 .homepage-header {
  margin: 7% 0;
  width: 100%;
}
.wrapper4 .homepage-header .top-content-container {
  display: flex;
  /* margin: 100px 0; */
}
@media (max-width: 500px) {
  .wrapper4 .homepage-header .top-content-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.wrapper4 .homepage-header .top-content-container .top-left {
  width: 100%;
  height: 400px;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .wrapper4 .homepage-header .top-content-container .top-left {
    width: 100%;
  }
}
.wrapper4 .homepage-header .top-content-container .top-left .top-left-text {
  width: 70%;
}
@media (max-width: 500px) {
  .wrapper4 .homepage-header .top-content-container .top-left .top-left-text {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
  }
}
.wrapper4 .homepage-header .top-content-container .top-left .top-left-text h2 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
}
.wrapper4 .homepage-header .top-content-container .top-left img {
  margin: 10px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .wrapper4 .homepage-header .top-content-container .parent-img {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper5 {
  background: white;
  width: 100%;
}
@media (max-width: 500px) {
}
.wrapper5 .team-page {
  width: 100%;
}
.wrapper5 .team-page .team-page-container {
  display: flex;
  flex-direction: column;
  /* margin: 100px 0; */
  padding: 50px 0;
}
.wrapper5 .team-page .team-page-container .team-left {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}
.wrapper5 .team-page .team-page-container .team-left .top-left-text {
  width: 70%;
}
.wrapper5 .team-page .team-page-container .team-left .top-left-text h2 {
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  font-size: 4rem;
  color: #55667a;
}
.wrapper5 .team-page .team-page-container .team-img {
  text-align: center;
}
.wrapper5 .team-page .team-page-container .team-img .team-member {
  margin: 20px 0;
  width: 100%;
}
.wrapper5 .team-page .team-page-container .team-img .team-member h6 {
  font-size: 2rem;
}
.wrapper5 .team-page .team-page-container .team-img .team-member p {
  font-size: 1.5rem;
}
.wrapper5 .team-page .team-page-container .team-img .team-member img {
  height: 100px;
  border-radius: 250px;
  border: 3px solid #00b7d9;
}
.aboutnav {
  align-items: center;
  background-color: white;
  width: 100%;
  top: 0;
  height: 70px;
}
@media (max-width: 500px) {
  .aboutnav {
    height: 100%;
    width: 100%;
  }
}
.aboutnav nav {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 10%;
}
@media (max-width: 500px) {
  .aboutnav nav {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    font-size: 0.2rem;
    flex-direction: row;
    text-align: center;
  }
}
.aboutnav nav a {
  text-decoration: none;
  color: #55667a;
  font-size: 2rem;
  width: 100%;
}
@media (max-width: 500px) {
  .aboutnav nav a {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .aboutnav nav a.logodisplay {
    display: none;
  }
}
.aboutnav nav a:hover {
  color: #00b7d9;
}
.aboutnav nav h1 {
  color: #00b7d9;
}
@media (max-width: 500px) {
  .aboutnav nav h1 {
    display: none;
  }
}
@media (max-width: 500px) {
  .aboutnav nav .logbut {
    width: 100%;
    padding: 10px;
  }
}
.aboutnav nav a.login {
  background-color: #1e9df7;
  color: white;
  border-radius: 30px;
  width: 100px;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutnav nav a.login {
    width: 100%;
    padding: 5px;
  }
}
body {
  background-color: #f3f3f3;
}
h3 {
  color: #00b7d9;
  text-align: center;
  margin: 30px;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.button {
  background: red;
  width: 250px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 100px auto;
  display: inline-block;
  cursor: pointer;
}
.teams {
  width: 95%;
  margin: -20% 0;
  /*overflow: auto;*/
}
@media (max-width: 500px) {
  .teams {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 15% 0;
  }
}
.team {
  max-width: 20%;
  background: #fff;
  padding: 15px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  margin: 20% 2.5%;
  height: 250px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .team {
    max-width: 60%;
    height: 250px;
    margin: 10px auto;
  }
}
@media (max-width: 500px) {
  .team .team-member {
    width: 100%;
    text-align: center;
  }
}
.team .team-member-socials {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
.team .team-member-socials a {
  color: black;
  padding: 0 5px;
}
.team .team-member-socials a:hover {
  color: #00b7d9;
}
.team.selected {
  -webkit-box-shadow: 0px 0px 161px -5px #3083ff;
  -moz-box-shadow: 0px 0px 161px -5px #3083ff;
  box-shadow: 0px 0px 161px -5px #3083ff;
}
.team img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .team img {
    width: 100%;
  }
}
.team .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.team .artist {
  font-size: 10px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
.notifications {
  position: absolute;
  right: 10px;
  top: 80px;
}
.notify {
  width: 300px;
  height: 70px;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 1px 4px #1c4963;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
  display: none;
}
.notify.active {
  display: block;
}
.notify:first-child {
  margin: 0 0 10px 0;
}
.circle {
  width: 28px;
  height: 20px;
  display: block;
  border-radius: 100%;
  transform: translate(17px, 17px);
  color: whitesmoke;
  padding: 10px 0 10px 13px;
}
.gr > .circle {
  background-color: #38ad65;
}
.gr > .info span:first-child {
  color: #38ad65;
}
.rd > .circle {
  background-color: #de3b12;
}
.rd > .info span:first-child {
  color: #de3b12;
}
.or > .circle {
  background-color: #c87a46;
}
.or > .info span:first-child {
  color: #c87a46;
}
.bl > .circle {
  background-color: #225877;
}
.bl > .info span:first-child {
  color: #225877;
}
.info {
  width: 230px;
  height: 70px;
  transform: translate(70px, -35px);
  padding: 25px;
}
.info span:first-child {
  display: block;
  color: #38ad65;
  font-weight: 600;
  font-size: 15px;
}
.info span:last-child {
  color: #919191;
  font-size: 13px;
}
.info span a {
  color: #545454;
  text-decoration: none;
  font-weight: 600;
}
